{% extends 'base.html.twig' %}

{% block body_class %}about{% endblock %}

{% block main %}
    <section class="about">
        <header class="section-title page">
            <h2 class="page-title">About us</h2>
            <div class="flex-coffee-under">
                <div class="hr-line"></div>
                <div class="icon"><i class="fas fa-coffee"></i></div>
                <div class="hr-line"></div>
            </div>
        </header>

        <div class="wrapper grid">
            <div class="about-us-text section1">
                <p>
                    For Us quality is the most important thing when it comes to coffee.
                    The highest level of quality is categorized as specialty coffee. Specialty coffees
                    are distinctive because of the fact that they are grown in ideal climates around the world with varying types of soil
                    compositions and have little to no defects. This results in unique flavors and special characteristics.
                </p>
                <p>
                    In our shop we offer the unique tastes of the best coffee beans from all over the world, as well
                    as the most advanced technologies for making a delicious flavor. We manually select the batch to make the most
                    of the cents and the exclusive flavor notes hidden in the green coffee beans.</p>
            </div>
            <div class="about-us-image section2">
                <img src="/images/travel.jpg" alt="image" width="300" height="200"></div>
            <div class="about-us-image section3">
                <img src="/images/about-green.png" alt="green-coffe" width="300" height="200">
            </div>
            <div class="about-us-text section4">
                <p>
                    You are welcome in our shop to taste the unique tastes of the finest coffee beans from all over the world that we offer.
                    Share these special coffer moments with your friends or give yourself a little time for relaxation with a cup of coffee
                    and a nice book.
                </p>
                <p>
                    If you have additional questions or you want to know more about the products and services we offer,
                    you can contact us in the convenient for you way.
                </p>
            </div>
            <div class="about-us-image section5">
                <img src="/images/coffee-box5.jpg" alt="image" width="300" height="200">
            </div>
        </div>

    </section>
{% endblock %}

