{% extends "base.html.twig" %}
{% block body_class %}admin{% endblock %}
{% block main %}

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Role</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles[0] }}</td>
                    <td><a href="{{ path('one_user', { 'id': user.id }) }}">Show Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}