{% extends 'base.html.twig' %}

{% block body_class %}admin{% endblock %}

{% block main %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}

    <button class="main-button" formnovalidate>Add</span>
    </button>

    {{ form_end(form) }}
{% endblock %}