{% extends 'base.html.twig' %}

{% block body_class %}admin{% endblock %}

{% block main %}
    {{ form_start(form, { 'attr': {'class': 'main-form'}}) }}

    {{ form_row(form.name) }}

    <a class="main-button" href="{{ path('all_categories') }}">Cancel</a>
    <button class="main-button" formnovalidate>Edit</button>

    {{ form_end(form) }}
{% endblock %}